In [1]:
import pandas as pd
import numpy as np

In [2]:
donor_df = pd.read_csv('Donor HLA Typing.csv',dtype='str')

In [3]:
donor_df

          A         B         C      DRB1      DQB1      DPB1
0  32:01:01  35:03:01  06:02:01  11:01:01  03:01:01  02:01:02
1  68:01:02  57:01:01  12:03:01  13:01:01  06:03:01  04:01:01

In [4]:
donorABC = set()

In [5]:
column_names = donor_df.columns.values.tolist()
column_names

['A', 'B', 'C', 'DRB1', 'DQB1', 'DPB1']

In [6]:
print(donor_df['A'][0])

32:01:01

In [7]:
def formatHLA(data,column):
    return column + '*' + data[0:5]

In [8]:
for column in column_names:
    for data in donor_df[column]:
        donorABC.add(formatHLA(data,column))
donorABC

{'A*32:01',
 'A*68:01',
 'B*35:03',
 'B*57:01',
 'C*06:02',
 'C*12:03',
 'DPB1*02:01',
 'DPB1*04:01',
 'DQB1*03:01',
 'DQB1*06:03',
 'DRB1*11:01',
 'DRB1*13:01'}

In [9]:
recipient_SAB1 = pd.read_csv('Recipient Class 1 SAB.csv',header=None)
recipient_SAB1

                                                    0             1
0   Antibodies detected against HLA Class I antige...           NaN
1                                 Allele Specificity            MFI
2                                             B*48:01        11,421
3                                             C*03:03         9,079
4                                             B*52:01         8,983
5                                             C*03:04         7,360
6                                                 NaN           NaN
7   Antibodies detected against HLA Class I antige...           NaN
8                                 Allele Specificity            MFI
9                                             B*73:01           889
10                                            B*15:01           873
11                                            C*15:02           747
12                                            C*06:02           144
13                                            C*05:01           127
14                                            A*11:02           454
15                                            B*51:02           357
16                                            A*33:03            94
17                                            A*43:01            98
18                                            A*32:01            91
19                                            B*15:16            49
20                                            A*68:01            39
21                                            A*80:01  Not Detected
22                                            A*11:01  Not Detected
23                                            B*57:01  Not Detected

In [11]:
class HLA_MFI_pair:
    def __init__(self,HLA,MFI):
        self.HLA = HLA
        self.MFA = MFA

In [12]:
result_list = []

In [15]:
for row in range(0,len(recipient_SAB1[1])):
    allele =  recipient_SAB1[0][row]
    MFI = recipient_SAB1[1][row]
    if allele in donorABC:
        print(allele)
        #result_list.append(HLA_MFI_pair(allele,MFI))

C*06:02
A*32:01
A*68:01
B*57:01

In [14]:
print(result_list)

[<__main__.HLA_MFI_pair object at 0x0000012FCA761280>, <__main__.HLA_MFI_pair object at 0x0000012FCA6EAF40>, <__main__.HLA_MFI_pair object at 0x0000012FCA6EAA60>, <__main__.HLA_MFI_pair object at 0x0000012FC83E8C40>]